// .beersContainer{

// }

.topPanelEmpty{
  width:100%;
  height: 15vh;
  background-color: grey;
}

.topPanel{
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(71, 207, 128);
 
  &__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__h1{
    margin:10px auto;
    color: white;
    font-size: 30px;
  }
  &__searchContainer{
    width: 100%;
    display: flex;
    justify-content: center; 
  }
  &__search{
    display: flex;
    justify-content: center; 
    width:80%;
    font-size: 1.3rem;
    background-color: #fff;
    padding: 6px 2px;
    border-radius: 4px;
  }
  &__input{
    width: 80%;
    padding: 0;
    border: 0;
    margin-left: 10px;
    font-size: 1rem;
    padding-left: 4px;
  }
}

.addbeer{
  width: 45px;
  height: 45px;
  z-index: 999;
  position: fixed;
  bottom: 140px;
  right: 25px;
  background-color: rgb(77, 73, 73);
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
}

.beerView{
  display: flex;
  align-items: center;
  padding: 10px;
  &__imageBeer{
    width: 60px;
    height: 50px;
    background-color: black;
    margin: 0 20px ;
  }
  &__container{
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
    padding: 3px;
    flex-basis: 60%;
  }
     &__beerName{
       font-size: 1.3rem;
     }
     &__styleBeer{
      font-size: 1rem;
     }
     &__brewery{
      font-size: 1rem;
     }
     &__rating{
      font-size: 1.2rem;
      padding: 4px 0;
      
     }
  &__btnDelete{
    padding: 5px 2px;
    border: 0;
    margin-left: 10px;
    flex-basis: 20%;
    border: 2px solid black;
    background-color: white;
  }

}
    
.beerAddingPanel{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  &__imputsContainer{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
  }
  &__BeerName{
    padding:6px 4px;
    border:0;
    flex-basis: 70%;
    margin: 23px auto;
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
  }
  &__BeerStyle{
    padding:6px 4px;
    border:0;
    flex-basis: 70%;
    margin: 23px auto;
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
  }
  &__Brewery{
    padding:6px 4px;
    border:0;
    flex-basis: 70%;
    margin: 23px auto;
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
  }
  &__h1{
    flex-basis: 100%;
    margin: 10px;
    text-align: center;
  }
  &__btnAdd{
    margin:20px auto;
    font-size: 2rem;
    color: #262626;
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid black;
  }
  &__Date{
    margin-left: 30px;
    text-align:justify;
    flex-basis: 100%;
  }
}
 
.mainStarPanel{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  // &__oneStar{}
  // &__twoStar{} 
  // &__threeStar{} 
  // &__fourStar{} 
  // &__fiveStar{} 

}

.starFull{
  color: goldenrod;
}

.starEmpty{
 color: #262626;
}

.starOn{
  font-size: 2rem;
  color: gold;
  margin: 0 10px;
}

.starOff{
  font-size: 2rem;
  color: #262626;
  margin: 0 10px;
}

.addingPictureCotainer{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  &__input{
    display: none;
  }
  &__label{
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-right: 20%;
    margin: 0;
    font-size: 4rem;
  }
}