
.MainTopPanel{
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(71, 207, 128);
  &__options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
    margin-right: 5%;
  }
  &__optionsBtn{
    font-size: 3.0rem;
    color: rgb(42, 131, 79);;
    background-color: none;
    margin: 0;
    padding: 0;
  }
}

.MainPageContainer{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-top: 15vh;
  background-color: white;
  padding:6% 8%;
  &__VlogTitle{
    font-family: 'Roboto', sans-serif;
    padding:10px 0 ;
    text-align: center;
    font-size: 2.3rem;
  }
}

.contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15vh;
  flex-wrap: wrap;
  &__unit{
    padding:3px 0;
    flex-basis: 100%;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(78, 73, 73, 1);
    a{
      text-decoration: none;
      color: rgba(78, 73, 73, 1);
    }
  }
}
.myInfo{
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
}

.articleFirst{
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
}
.topPanelEmptyProfile{
  height: 130px;  
  }
  

@media only screen and (min-width: 600px) {
  .MainTopPanel{
  display: none;
  }
  .topPanelEmptyProfile{
  height: 130px;  
  }
}