.openContactForm{
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  padding: 5px 4px;
  border: 0;
  color: black;
  border: 2px solid black ;
  font-size: 2rem;
}

.closeReactForm{
  font-size: 2rem;
  color: black;
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid black;
}

.topPanelProfile{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(71, 207, 128);
  &__options{
    margin-right: 15%;
    width: 30px;
    height: 30px;
    background-color:#0A9813;
  }
  &__showBtnProfil{
    font-size: 1.3rem;
  }
  &__hidenBtnProfil{
    display: none;
    font-size: 0;
  }
  &__showBtnProfile{
    background-color: 0;
    padding: 0;
    font-size: 3.3rem;
    margin-right:10%;
    color: white;
    
  }
}

.profilePanel{
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__imgContainer{
    margin-top: 10%;
    position: relative;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    border: 4px solid black;
  }
  &__img{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  &__BiWrench{
    margin-top: 10%;
  }
  &__AddImg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 4px solid black;
 }
 &__name{
   margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    flex-basis: 100%;
    text-align: center;
 }
}

.profile{
  width: 100%;
  position: relative;
  margin: 0;
}

.hidePanel{
  display: none;
  margin: 0;
}

.showPanel{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 15vh;
  background-color: white;
  height: 75vh;
}

.PanelProfileOn{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 5% 0 5%;
  &__imgChange{
    font-family: 'Roboto', sans-serif;
    input{
      display: none;
    }
  }
  &__label{
    display: block;
    margin: 45px auto;
    font-size: 2rem;
    color: #262626;
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid black;
  }
  &__h1{
    flex-basis: 100%;
    font-size: 2.2rem;
  }
  &__text{
    border: none;
    margin: 5% 0;
    padding: 2px 0 5px 2px;
    flex-basis: 100%;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
  }
  input[type=text]:focus {
    border: none;
  }
  
}

.UsserInfo{
  position: relative;
  top: 25vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 5% auto 5%;
  &__name{
    border: none;
    margin: 5% 0;
    padding: 2px 0 5px 2px;
    flex-basis: 100%;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
  }
  &__gender{
    border: none;
    margin: 5% 0;
    padding: 2px 0 5px 2px;
    flex-basis: 100%;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
  } 
  &__h1{
    font-size: 2rem;
  } 
}

.ButtonBackChange{
  display: none;
}

@media only screen and (min-width: 600px) {
  .topPanelProfile{
   display: none;
  }

  .ButtonBackChange{
    display: block;
    margin: 20px auto;
    font-size: 2rem;
    color: #262626;
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid black;
  }
}