// .beersContainer{

// }

.topPanelEmpty{
  width:100%;
  height: 15vh;
  background-color: grey;
}

.topPanel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(71, 207, 128);
 
  &__container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__h1{
    margin:10px auto;
    color: white;
    font-size: 30px;
  }
  &__searchContainer{
    width: 100%;
    display: flex;
    justify-content: center; 
  }
  &__search{
    display: flex;
    justify-content: center; 
    width:70%;
    font-size: 30px;
    background-color: #fff;
    padding: 6px 2px;
    border-radius: 4px;
  }
  &__input{
    padding: 0;
    border: 0;
    margin-left: 10px;
    font-size: 16px;
    padding-left: 4px;
  }
}

.addbeer{
  width: 45px;
  height: 45px;
  z-index: 999;
  position: fixed;
  bottom: 140px;
  right: 25px;
  background-color: rgb(77, 73, 73);
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
}

.beerView{
  display: flex;
  align-items: center;
  padding: 10px;
  &__imageBeer{
    width: 60px;
    height: 50px;
    background-color: black;
    margin: 0 20px ;
  }
  &__container{
    border-bottom: 1px solid rgba(43, 42, 42, 0.514);
    padding: 3px;
    flex-basis: 60%;
  }
     &__beerName{
       font-size: 1.3rem;
     }
     &__styleBeer{
      font-size: 1rem;
     }
     &__brewery{
      font-size: 1rem;
     }
     &__rating{
      font-size: 1rem;
     }
  &__btnDelete{
    padding: 5px 2px;
    padding: 0;
    border: 0;
    margin-left: 10px;
    flex-basis: 20%;
  }

}
      